<ul>
  <% @files.each do |filename| %>
    <li>
      <a href="/<%= filename %>"><%= filename %></a>
      <a href="<%= filename %>/edit">Edit </a>
      <form class="inline" action="/<%= filename %>/delete" method="post">
        <button type="submit">Delete</button>
      </form>
    </li>
  <% end %>
</ul>
<p><a href="/document/new">New Document</a></p>
<%= @contents %>